<article class="guide guide--skeleton" aria-hidden="true">
    <span class="guide__index guide__index--skeleton"></span>
    <span class="guide__line guide__line--title"></span>
    <span class="guide__line guide__line--body"></span>
    <span class="guide__line guide__line--body guide__line--short"></span>
</article>
